.ui-dialog{
  z-index:9999999998 !important;
}
textarea, body, .nicEdit-main  {padding: 15px;}
.nicEdit-main .fa{font-size: inherit !important;}
/* templates */
.templateDialog .templatesList{
	width: 100%;
	display: block;
}
.templateDialog .templatesList .item{
	display: table;
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.templateDialog .templatesList .item:last-child{
	border: none;
}
.templateDialog .templatesList .item:hover{
	color: #0073EA;
}
.templateDialog .templatesList .ico, .templateDialog .templatesList .name{
	display: table-cell;
	vertical-align: middle;
	min-height: 30px;
}
.templateDialog .templatesList .ico{
	width: 40px;
}
.templateDialog .templatesList .name{
	padding-left: 10px;
	text-align: left;
}
.templateDialog .templatesList .item i.fa{
	font-size: 30px;
}
/* special chars */
.specialDialog .item{
	display: inline-block;
	width: 19px;
	height: 32px;
	font-size: 16px;
	padding: 4px 2px;
	margin: 2px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #888;
	vertical-align: top;
}
.specialDialog .item.fa{
	width: 31px;
	margin: 2px 1px;
}
/* images */
.imageDialog label, .imageDialog input{
	display: block;
	width: 100%;
}
/* code */
.codeDialog textarea{
	width: 100%;
	height: 100%;
	resize: none;
}
/* links */
.linkAttributes{
	text-align: left;
}
.linkDialog .linkType{
	width: 100%;
}
.linkAttributes label, .linkAttributes input, .linkAttributes select, .linkAttributes textarea{
	display: block;
	width: 100%;
}
.linkAttributes textarea{
	resize: vertical;
}
.linkAttributes label{
	padding-top: 5px;
}
.linkAttributes label[for="gallery_3"], .linkAttributes input#gallery_3[type="checkbox"]{
	display: inline-block;
	width: auto;
}
.browseFiles, .browseImages{
	width: 49.6%;
	cursor: pointer;
	display: inline-block;
	padding: 3px;
}
/* fm */
.fm{
	display: none;
	position: absolute;
	z-index:9999999999 !important;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;-webkit-box-shadow: 0px 0px 10px 1px rgba(10,151,209,1);
	box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.5);
	background: url('/img/backend-menu-background.png');
}
.fm-status{
	display: block;
	width: 100%;
	height: 30px;
	background: #6E6E6E;
}
.fm-status .fm-folder{
	display: inline-block;
	height: 30px;
	padding: 5px 10px;
	vertical-align: middle;
	color: #ddd;
}
.fm-status .fa.fa-close{
	position: absolute;
	right: 0;
	font-size: 20px;
	padding: 3px 5px 7px 6px;
	cursor: pointer;
	color: #0063A7;
	opacity: 1;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fm-status .fa.fa-close:hover{
	opacity: 0.6;
}
.fm-action{
	display: none;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #444;
}
.fm-content{
	display: table-cell;
	vertical-align: top;
	width: 550px;
	height: 400px;
	padding-left: 10px;
}
.fm-tree{
	display: table-cell;
	vertical-align: top;
	width: 250px;
	height: 400px;
	padding-left: 5px;
	padding-top: 25px;
}
.fm-tree ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
.fm-tree li{
	padding: 2px 0;
	border-bottom: 1px solid #888;
}
.fm-tree li:last-child{
	border: none;
}
.fm-tree li.active a{
	font-weight: bold;
}
.fm-content .file{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 90px;
	height: 120px;
	margin: 7px;
	margin-left: 6px;
	margin-right: 4px;
	background: #AAA;
	box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.2);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.2);
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fm.images .file{
	height: auto;
}
.fm-content .file:hover{
	background: #ccc;
}
.fm-content .file .fa{
	font-size: 50px;
	padding: 10px 23px;
}
.fm-content .file .date{
	font-size: 10px;
	text-align: center;
	color: #1F4D6D;
}
.fm-content .file .name{
	padding: 4px;
	text-align: center;
	font-size: 12px;
}
.fm.files .file .name{
	height: 34px;
	overflow: hidden;
}
.fm.images .file .name{
	height: 20px;
	overflow: hidden;
}
.fm-content .file .sizes{
	width: 100%;
	text-align: center;
}
.fm-content .file .sizes a{
	display: block;
	line-height: 1.3em;
}
.fm.images .fm-content .file{
	width: 158px;
}
.fm.images .fm-content .file .info{
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}
.fm.images .fm-content .file .image-wrap, .fm.images .fm-content .file .sizes{
	display: table-cell;
	vertical-align: top;
}
.fm.images .fm-content .file .image-wrap{
	width: 75px;
	height: 75px;
	vertical-align: middle;
	text-align: center;
}
.fm.images .fm-content .file .sizes{
	width: 70px;
}
.fm-content .sort{
	padding: 4px 0;
	text-align: right;
	padding-right: 25px;
}
.fm-content .sort a{
	padding: 0 2px;
}
.fm-content .sort a.activeLink{
	color: #0A97D1;
}
/* strom */
.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; /* MSPointer events - direct all pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{ -ms-touch-action: auto; touch-action: auto; }
.mCustomScrollBox{ /* contains plugin's markup */
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}
.mCSB_container{ /* contains the original content */
	overflow: hidden;
	width: auto;
	height: auto;
}
.mCSB_inside > .mCSB_container{ margin-right: 0px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */
	margin-right: 0;
	margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */
.mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
	position: absolute;
	width: 18px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0;
}
.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */
	right: auto;
	left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
	height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer{ margin:0; }
.mCSB_scrollTools .mCSB_draggerRail{
	width: 18px;
	height: 100%;
	margin: 0 auto;
	background: #ddd;
}
.mCSB_scrollTools .mCSB_dragger{ /* the draggable element */
	cursor: pointer;
	width: 100%;
	height: 14px; /* minimum dragger height */
	z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	text-align: center;
	background: #aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display: block;
	position: absolute;
	height: 20px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }
.mCSB_scrollTools, 
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	-webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, 
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, 
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
	-webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out; 
	-moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out; 
	-o-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out; 
	transition: width .2s ease-out .2s, height .2s ease-out .2s, 
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out; 
}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 0; filter: "alpha(opacity=0)"; -ms-filter: "alpha(opacity=0)"; }
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{ }
.mCSB_scrollTools .mCSB_draggerRail{
	background-color: #000; background-color: rgba(0,0,0,0.4);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #fff; background-color: rgba(255,255,255,0.75);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color: #fff; background-color: rgba(255,255,255,0.85);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: #fff; background-color: rgba(255,255,255,0.9);
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{ opacity: 0.75; filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{ opacity: 0.9; filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; }