@charset "UTF-8";
@media (max-width: 1370px) {
	.wrap{width: 94%}
	.bx-wrapper{max-width: 943px !important}
	.hp .bx-wrapper{left: 50%; margin-left: -471px !important}
	.news-preview ul{text-align: center}
	.news-preview li{float: none}
	.page-foot .col-1-3{width: 100%; text-align: center}
	.page-foot-nav{display: block; width: 100%; text-align: center}
	.window-matches-wrap{max-width: 100%; width: 100%}
	.window-matches-wrap .zoomControl {right: 7px; left: auto; top: 7px;}
	.window-matches-wrap .zoomControl .zoomIn, .window-matches-wrap .zoomControl .zoomOut{background: #415370; display: inline-block}
	.window-matches-wrap .zoomIn:hover, .window-matches-wrap .zoomOut:hover{color: #262d38; background: #ccc}
}
@media (max-width: 1350px) {
	.overflow-table{overflow-x:scroll; overflow-y:auto; padding: 10px 0}
}
@media (max-width: 1170px) {
	.page-head .logo{padding-right: 25px}
	.bx-wrapper{max-width: 707px !important}
	.hp .bx-wrapper{margin-left: -353px !important}
	.step-by-step{padding-left: 0}
	.step-by-step ul{text-align: center}
	.step-by-step li{margin: 0 50px}
	.step-by-step li::after{display: none}
	.page-head .nav-content{text-align: center}
}
@media (max-width: 1000px) {
	.col-1-3{width: 50%}
	.col-1-6{width:33.3333333%;}
	.tournament-buttons .col-1-3, .cup-buttons .col-1-3{width: 100%}
	.grid.mobile-1000-align-left > .col, .col.mobile-1000-align-left{text-align: left !important}
}
@media (min-width: 971px) {
	.show-970{display: none !important}
	.hide-970{display: block}  
}
@media (max-width: 970px) {
	.col-1-6{width:33.3333333%;}
	.show-970{display: block}
	.hide-970{display: none !important}
	.fullwidth-970{width: 100% !important}
	.wrap{width: 100%; padding: 0 32px}
	.page-head-top .wrap{padding: 0 32px}
	.page-head .logo{width: 100%}
	.page-head-top{height: 120px}
	.page-head-top .nav-content{display: block; text-align: center; padding: 22px 0 16px}
	.grid-server-detail .col-1-3, .grid-server-detail .col-2-3{width: 50%}
}
@media (max-width: 930px) {
	.wrap{padding: 20px}
	.step-by-step ul{width: 320px; margin: 0 auto}
	.step-by-step li{display: block; margin: 20px 50px}
}
@media (max-width: 890px) {
	.bx-wrapper{max-width: 471px !important}
	.hp .bx-wrapper{margin-left: -235px !important}
}
@media (min-width: 761px) {
	.show-760{display: none !important}
	.hide-760{display: block}
}
@media (max-width: 760px) {
	.show-760{display: block}
	.hide-760{display: none !important}
	.grid-server-detail .col-1-3, .grid-server-detail .col-2-3{width: 100%}
	.window-content{min-height: 25px}
	.window-content-large{height: auto}
	.page-head-top{height: auto}
	.page-head-top .lang-shortcut{width: 100%; text-align: right}
  .col-1-6{width:50%;}
}
@media (max-width: 660px) {
	.col-1-3, .col-1-2{width: 100%}
  .grid.mobile-660-align-left > .col, .col.mobile-660-align-left{text-align: left !important}
	.bx-wrapper{max-width: 235px !important}
	.hp .bx-wrapper{margin-left: -117px !important}
  .page-head-bottom .wrap > *{display: block; width: 100%; padding: 4px; text-align: center}
  .window-matches{max-height: 440px; height: 440px}
}
@media (max-width: 490px) {
	.page-head-top .wrap{padding: 0 8px}
	.grid.mobile-490-align-left > .col, .col.mobile-490-align-left{text-align: left !important}
	.page-head .logo{display: block; text-align: center; padding: 0 0 12px 0}
	.page-head-top .lang-shortcut{width: 100%;text-align: left}
	.page-head-top .user-shortcut{text-align: right}
	.page-head .lang-shortcut:hover + .lang-content, .lang-content:hover, .lang-content.hover{position: static}
	.page-head .lang-content-wrap{top: 105px;left: 7px; right: auto}
	.page-head-top .nav-content a{display: inline-block; padding: 8px}
	.page-head-top .nav-content li::after{padding: 8px 0}
	.step-by-step ul{width: 270px; padding-left: 15px}
	.step-by-step li{width: 132px;}
	.step-by-step .step-content{width: 132px;}
	.step-by-step .step-name{width: 132px;}
	.news-preview li{padding: 16px 0}
	.news-preview .news-preview-image{width: 220px; height: 130px}
	.news-preview.angled .news-preview-image img{max-height: 130px; max-width: 275px; min-width: 275px; margin-left: -24px}
	.page-main .news-preview .news-preview-name, .news-preview .news-preview-name{max-width: 198px}
	.news-preview.angled .news-preview-date{top: 115px}
	.news-preview .news-preview-name{padding-left: 65px; max-width: 220px}
	.text-box{padding-right: 0}
	.text-box .icon-wrap{display: none}
	.text-box .content-wrap{display: block; padding: 16px}
	.dropdown-header::before, .dropdown-header::after{display: none}
	.dropdown-header .arrow::before, .dropdown-header .arrow::after{display: none}
	.dropdown-content{margin-left: 0}
	.hp .bx-wrapper{position: relative; top: 0;}   
	.size-28{font-size:16px !important;}
}
@media (max-width: 390px) {
	.col-1-6{width:100%;}
	.grid.mobile-390-align-left > .col, .col.mobile-390-align-left{text-align: left !important}
	.wrap{overflow: hidden}	
	.page-head .wrap{overflow: visible}
	.bx-wrapper{margin-bottom: 60px !important}
	.bx-wrapper .bx-viewport li img{
		transform: scale(1.2), skew(0deg);
		-webkit-transform: scale(1.2) skew(0deg);
		-moz-transform: scale(1.2) skew(0deg);
		-o-transform: scale(1.2) skew(0deg);
		-ms-transform: scale(1.2) skew(0deg);
	}
	.bx-wrapper .bx-viewport {
		padding-left: 8px;
		transform: translatez(0) skewX(0deg);
		-webkit-transform: translatez(0) skewX(0deg);
		-moz-transform: translatez(0) skewX(0deg);
		-ms-transform: translatez(0) skewX(0deg);
		-o-transform: translatez(0) skewX(0deg);
	}
	.bx-wrapper .bx-viewport li a:hover img{
		transform: scale(1.3) skew(0deg);
		-webkit-transform: scale(1.3) skew(0deg);
		-moz-transform: scale(1.3) skew(0deg);
		-o-transform: scale(1.3) skew(0deg);
		-ms-transform: scale(1.3) skew(0deg);
	}
	.bx-wrapper li span{
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
	}
	.bx-wrapper .bx-controls-direction a {
		top: 100%; bottom: auto; height: 40px; left: 0; margin: 2px;
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
	}
	.bx-wrapper .bx-controls-direction .bx-next{
		left: auto; right: 0;
	}
	.bx-wrapper .bx-prev:before, .bx-wrapper .bx-next:before{
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
	}
	.hp .page-main .wrap{overflow: visible}
	.hp .bx-wrapper{position: relative; top: 0; margin-bottom: 3px !important; margin-top: 75px !important;}
}