@charset "UTF-8";
body{
	position: relative;
	font-family: 'titillium_web_regular', Arial, Helvetica, sans-serif;  
	color: #747474;
	background: #f6f6f6;
	font-size: 15px;
	line-height: 1.2em;
}
.wrap{
	position: relative;
	padding: 16px 0px;
	margin: 0 auto;
	width: 1180px;
}
.page-main{
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	padding-bottom: 64px;
}
.hp .page-main{padding-top: 32px;}
.page-head{
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	background: url('/img/head.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}
.hp .page-head{
	z-index: 1;
	height: 830px;
	background: url('/img/welcome_page_background.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}
.page-head-top{background: rgba(38,45,56,0.8); display: block; width: 100%; height: 113px; position: relative; z-index: 4; padding-top: 16px;-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);}
.page-head-top .wrap{min-height: 113px;}
.page-head-bottom{background: rgba(38,45,56,0.55); color: #fff; display: block; width: 100%; min-height: 113px; position: relative; z-index: 3; overflow: hidden}
.hp .page-head-bottom{background: rgba(38,45,56,0.40); display: table; height: 830px; margin-top: -114px; padding-top: 130px;text-shadow: 2px 2px #000;}
.hp .page-head-bottom .inner-wrap{display: table-cell;vertical-align: middle;text-align: center;width: 100%;min-width: 100%;height: 100%;}
.page-head-bottom a:hover em.fa{color: #fff}
.page-head-bottom .wrap{height: 113px; display: table; vertical-align: middle;}
.page-head-bottom .wrap > *{margin-top: 0; display: table-cell; vertical-align: middle}
.page-head ul{list-style: none; margin: 0}
.page-head a{text-decoration: none}
.page-head a:hover, .page-foot a:hover{color: #f9b233;}
.page-head .logo{display: table-cell; vertical-align: middle}
.page-head .nav-shortcut{display: none; cursor: pointer;}
.page-head .nav-content, .page-foot-nav{display: table-cell; width: 100%; text-align: center; vertical-align: middle; padding: 0 10px;}
.page-head nav li, .page-foot-nav li{display: inline-block; vertical-align: middle; }
.page-head nav li::after, .page-foot-nav li::after{display: inline-block; vertical-align: top; padding-left: 4px;content: "/"; font-size: 20px; color: #f9b233; font-family: 'titillium_web_light', Arial, Helvetica, sans-serif}
.page-foot-nav{display: block}
.page-head nav li:last-child::after, .page-foot-nav li:last-child::after{display: none}
.page-head nav a, .page-foot-nav a{color: #fff; font-size: 18px; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif; padding: 4px 8px; text-decoration: none;}
.page-foot-nav a{font-size: 14px;}
.page-head .lang-shortcut{display: table-cell; vertical-align: middle; position: relative; padding: 0 10px; padding position: relative; cursor: pointer;}
.page-head .lang-shortcut::before{position: absolute; top: 99%; left: 0; display: block; content: ""; width: 100%; height: 20px;}
.page-head .lang-shortcut:hover::after{color: #fff}
.page-head .lang-shortcut:hover img{-webkit-box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);-moz-box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);}
.page-head .lang-shortcut::after{position: absolute; top: 37px; /*margin-left: -18px;*/ text-align: left; content:"\f078";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:13px;color: #747474;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;left:0;padding-left:14px;}
.page-head .lang-content{display: none}
.page-head .lang-shortcut:hover + .lang-content, .lang-content:hover, .lang-content.hover{display: table-cell; position: relative}
.page-head .lang-content-wrap{position: absolute; top: 60px; right: 100%; background: #fff; -webkit-box-shadow: 0px 0px 3px 2px rgba(128,128,128,0.6);-moz-box-shadow: 0px 0px 3px 2px rgba(128,128,128,0.6);box-shadow: 0px 0px 3px 2px rgba(128,128,128,0.6);}
.page-head .lang-content li:hover{background: #f9b233}
.page-head .lang-content li:hover img{-webkit-box-shadow: 0px 0px 4px 2px rgba(255,255,255,1);-moz-box-shadow: 0px 0px 4px 2px rgba(255,255,255,1);box-shadow: 0px 0px 4px 2px rgba(255,255,255,1);}
.page-head .lang-content img{margin: 10px}
.page-head .user-shortcut{cursor: pointer; display: table-cell; vertical-align: middle; padding-left: 15px; position: relative; white-space: nowrap;}
.page-head .user-shortcut::before{position: absolute; top: 99%; left: 0; display: block; content: ""; width: 100%; height: 20px;}
.page-head .user-shortcut .user-name{position: relative; display: inline-block; vertical-align: middle; padding-left: 12px; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif; font-size: 18px; color: #fff;}
.page-head .user-shortcut .user-name::after{position: absolute; top: 22px; left: 50%; margin-left: -6px; text-align: left; content:"\f078";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:13px;color: #747474;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.page-head .user-shortcut:hover .user-name{color: #f9b233;}
.page-head .user-shortcut:hover .user-name::after{color: #fff;}
.page-head .user-content{display: none}
.page-head .user-shortcut:hover + .user-content, .user-content:hover, .user-content.hover{display: table-cell; position: relative}
.page-head .user-content-wrap{position: absolute; top: 60px; right: 100%; width: 220px; background: #fff; -webkit-box-shadow: 0px 0px 3px 2px rgba(128,128,128,0.6);-moz-box-shadow: 0px 0px 3px 2px rgba(128,128,128,0.6);box-shadow: 0px 0px 3px 2px rgba(128,128,128,0.6);}
.page-head .user-content .balance{display: block; background: #f9b233; padding: 16px 32px; text-align: center; color: #252c37}
.page-head .user-content .user-menu a{width: 100%; display: block; padding: 5px; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif; color: #252c36; text-align: center;}
.page-head .user-content .user-menu a:hover{color: #f9b233}

.switch{border: 2px solid #fff; display: inline-block;}
.switch a{display: table-cell; padding: 10px; color: #fff; background: #545960; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif;}
.switch a.active, .switch a:hover{color: #252c37; background: #fff;}

.breadcrumb{display: block; width: 100%; padding: 16px 0}
.breadcrumb ul{margin: 0; list-style: none}
.breadcrumb li{display: inline-block;}
.breadcrumb li::after{content: " >"; color: #cccccc}
.breadcrumb li:last-child::after{display: none; content: ""}
.breadcrumb a{text-decoration: none; color: #262d38}
.breadcrumb li.active a, .breadcrumb li a.active, .breadcrumb a:hover, .breadcrumb li:last-child a{color: #cccccc}

.text-box{position: relative; white-space: nowrap; background: #fff; -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);  padding-right: 112px}
.text-box .icon-wrap{display: inline-block; vertical-align: middle; position: relative; z-index: 1; background: #262d38; color: #fff; position: relative; font-size: 50px; padding: 36px 42px 36px 48px}
.text-box .icon-wrap::after{display: block; position: absolute; z-index: -1; top: 0; bottom: 0;left: 100%; margin-left: -25px; width: 50px; background: #262d38; content: " "; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
transform: skewX(-20deg);
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
}
.text-box .content-wrap{display: inline-block; vertical-align: middle; white-space: normal; background: #fff; line-height: 1.5em; padding: 16px; padding-left: 70px;}

.step-by-step{display: block; padding-left: 45px}
.step-by-step ul{marign: 0; list-style: none; padding-left: 30px }
.step-by-step li{position: relative; display: inline-block; height: 172px; width: 172px; margin: 0 80px}
.step-by-step li::after{display: inline-block; position: absolute; top: 50%; margin-top: -26px; right: -100px; background: url('/img/sprite.png'); background-repeat: no-repeat; background-position: -1px -72px;  width: 30px; height: 53px; content: ""}
.step-by-step li:last-child::after{display: none}
.step-by-step .step-number{position: absolute; z-index: 3; bottom: -10px; left: -60px; background: #262d38; line-height: 48px; text-align: center; width: 48px; height: 48px; font-weight: bold; font-style: italic; color: #fff; font-size: 30px}
.step-by-step .step-number::before, .step-by-step .step-number::after{display: block; position: absolute; top: 0; bottom: 0; width: 20px; background: #262d38; content: " "; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
transform: skewX(-20deg);
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
 z-index: -1}
.step-by-step .step-number::before{right: -10px}
.step-by-step .step-number::after{left: -10px}
.step-by-step .step-content{display: table-cell; vertical-align: middle; text-align: center; background: #f9b233; width: 172px; height: 172px;  position: relative}
.step-by-step .step-content::before, .step-by-step .step-content::after{display: block; position: absolute; top: 0; bottom: 0; width: 70px; background: #f9b233; content: " "; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
transform: skewX(-20deg); 
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
z-index: -1}
.step-by-step .step-content::before{right: -35px}
.step-by-step .step-content::after{left: -35px}
.step-by-step .step-name{font-weight: bold; font-style: italic; color: #fff; position: absolute; width: 172px; bottom: 12px; text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.8);}

.news-preview{padding: 40px 0}
.news-preview a{position: relative; text-decoration: none; -webkit-transition: all 0s;-moz-transition: all 0s;-o-transition: all 0s;transition: all 0s}
.news-preview a:hover .news-preview-name{color: #e7b226}
.news-preview ul{margin: 0 -15px; list-style: none; padding: 30px 0; text-align: center}
.news-preview ul::before, .news-preview ul::after{display: table;width: 100%;clear: both;content: " ";}
.news-preview li{display: inline-block; position: relative; width: 33,3%; float: left; padding: 15px}
.news-preview .news-preview-image{width: 359px; height: 213px; display: table-cell; vertical-align: middle; text-align: center;}
.news-preview .news-preview-image img{max-width: 359px; max-height: 213px;}
.news-preview .news-preview-date{position: absolute; z-index: 3; top: 0px; left: 0px; background: #f9b233; padding-top: 6px; text-align: center; width: 48px; height: 48px; color: #fff; font-size: 15px}
.news-preview .news-preview-date::before, .news-preview .news-preview-date::after{cdisplay: block; position: absolute; top: 0; bottom: 0; width: 20px; background: #f9b233; content: " "; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
transform: skewX(-20deg); 
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
z-index: -1}
.news-preview .news-preview-date::before{right: -10px}
.news-preview .news-preview-date::after{left: -10px}
.news-preview .news-preview-name{display: block; padding: 8px; padding-left: 75px; max-width: 359px; color: #f4f4f4; font-size: 20px; line-height: 1.2em; text-align: left; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif; }

.page-main .news-preview{padding: 0}
.page-main .news-preview ul{padding: 0; margin: 0; margin-top: -15px}
.page-main .news-preview li{float: none}
.page-main .news-preview a, .page-main .news-preview .news-preview-name{color: #262d38}
.page-main .news-preview a:hover .news-preview-name{color: #fff; background: #262d38}
.page-main .news-preview a:hover{background: #262d38}

.news-preview.angled a{ display: block; transform: skewX(-20deg); -webkit-transform: skewX(-20deg); -moz-transform: skewX(-20deg); -o-transform: skewX(-20deg); -ms-transform: skewX(-20deg); }
.news-preview.angled a:hover{ color: #f9b233; -webkit-box-shadow: 0px 0px 1px 2px rgba(249,178,51,1); -moz-box-shadow: 0px 0px 1px 2px rgba(249,178,51,1); box-shadow: 0px 0px 1px 2px rgba(249,178,51,1); }
.news-preview.angled a:hover .news-preview-name{color: #f9b233}
.news-preview.angled .news-preview-image{overflow: hidden; display: block}
.news-preview.angled .news-preview-image img{ transform: skewX(20deg); -webkit-transform: skewX(20deg); -moz-transform: skewX(20deg); -o-transform: skewX(20deg); -ms-transform: skewX(20deg); margin-left: -40px; min-width: 450px; min-height: 100%; max-height: none; }
.news-preview.angled .news-preview-date{ transform: skewX(20deg); -webkit-transform: skewX(20deg); -moz-transform: skewX(20deg); -o-transform: skewX(20deg); -ms-transform: skewX(20deg); top: 200px; }
.news-preview.angled .news-preview-name{ transform: skewX(20deg); -webkit-transform: skewX(20deg); -moz-transform: skewX(20deg); -o-transform: skewX(20deg); -ms-transform: skewX(20deg); margin-left: 15px; padding-left: 60px; max-width: 332px; }
.news-preview.grayscale a img{ -webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;transition: all 1s; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.news-preview.grayscale a:hover img{ -webkit-filter: grayscale(0%); filter: grayscale(0%); transform: scale(1.05), skew(20deg); -webkit-transform: scale(1.05) skew(20deg); -moz-transform: scale(1.05) skew(20deg); -o-transform: scale(1.05) skew(20deg); -ms-transform: scale(1.05) skew(20deg); }


.user-avatar-48, .user-avatar-32{display: inline-block; vertical-align: middle; width: 48px; height: 48px; background: #f9b233; -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; overflow: hidden; line-height: 48px; text-align: center; color: #fff; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif;  }
.user-avatar-32{width: 32px; height: 32px; line-height: 32px;}
.user-avatar-48 img{max-width: 48px; max-height: 48px}
.user-avatar-32 img{max-width: 32px; max-height: 32px}

.text-circle-32{display: inline-block; vertical-align: middle; width: 32px; height: 32px; background: #f9b233; -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; overflow: hidden; line-height: 32px; text-align: center; color: #262d38; font-family: 'titillium_web_semibold', Arial, Helvetica, sans-serif; }

.datatable{}
.datatable td:last-child, .datatable th:last-child{text-align: left;}

.window{margin-bottom: 32px; -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);}
.window-header{display: block; padding: 18px; background: #262d38; color: #fff; font-family: 'titillium_web_bold', Arial, Helvetica, sans-serif;}
.window-content{min-height: 365px}
.window-content-small{padding:18px;vertical-align:middle;}
.window-content-large{min-height: 432px}
.window-content .row{display: block; width: 100%; padding: 11px 22px}
.window-content .row, .window-content{background: #f8f8f9}
.window-content .row:nth-child(odd){background: #f4f4f5}
.window-content .user-name{font-family: 'titillium_web_semibold', Arial, Helvetica, sans-serif;}
.window-inner-wrap{padding: 22px}
.mCustomScrollbar.window-content{height: 365px}
.mCustomScrollbar.window-content-large{height: 432px}

.tournament-map-wrap{display: block; position: relative; width: 100%; height: 207px; overflow: hidden;background-color:#191919;text-align:center;}
.tournament-map-wrap img{/*min-width: 100%; min-height: 226px*/ max-width: 100%;max-height: 207px;}
.tournament-map-name{position: absolute; z-index: 2; right: 0; bottom: 0; background: #262d38; color: #fff; padding: 10px 16px}
.tournament-map-name::before{display: block; position: absolute; top: 0; bottom: 0; left: -10px; width: 20px; background: #262d38; content: " "; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
transform: skewX(-20deg); 
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
z-index: 1;}

.window-matches-wrap{max-width: 1180px; width: 1180px; position: relative}
.window-matches{max-height: 590px; height: 590px}
.window-matches .grid{width: auto;}
.window-matches .mCSB_container{ overflow: visible; }
.window-matches-wrap .grid{
-moz-transform-origin: 0% 0% 0px;
-webkit-transform-origin: 0% 0% 0px;
-o-transform-origin: 0% 0% 0px;
-ms-transform-origin: 0% 0% 0px;
transform-origin: 0% 0% 0px;
}
.window-matches-wrap {color: #42f548}
.window-matches-wrap .zoomControl{position: absolute; background: #262d38; top: 54px; left: -40px;}
.window-matches-wrap .zoomIn, .window-matches-wrap .zoomOut{font-weight: bold; color: #fff; font-size: 32px; cursor: pointer; display: block; line-height: 32px; height: 40px; width: 40px; text-align: center; -webkit-touch-callout: none;  -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;  -ms-user-select: none; user-select: none;}
.window-matches-wrap .zoomIn:hover, .window-matches-wrap .zoomOut:hover{color: #262d38; background: #ccc}

.window-matches .col{float: none; width: 295px; display: inline-block; white-space: nowrap; vertical-align: middle}
.match{display: block; background: #262d38; color: #f9b233; margin: 16px; margin-right: 0; padding: 16px; line-height: 1.4em; text-decoration: none; overflow-x: hidden;-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);}
.match:hover, .match:focus, .match:active, .match.hover, .match.active{background: #f9b233; color: #FFF; text-decoration: none; cursor: pointer}
.match-not-started:hover, .match-not-started:focus, .match-not-started:active{background: #262d38; color: #f9b233; cursor: default}

.match, .match *{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.match:hover .highlight-player .fa-eye, .match.active .highlight-player .fa-eye{color: #fff}
.highlight-player.win{color: #42f548}
.highlight-player.win .fa-eye{color: #f9b233}
.match:hover .highlight-player.win, .match.active .highlight-player.win{color: #28bf08}
.highlight-player.win.active .fa-eye, .highlight-player.win:hover .fa-eye{color: #28bf08}
.highlight-player.lose{color: #fa6e43}
.highlight-player.lose .fa-eye{color: #f9b233}
.match:hover .highlight-player.lose, .match.active .highlight-player.lose{color: #cc1515;}
.highlight-player.lose.active .fa-eye, .highlight-player.lose:hover .fa-eye{color: #cc1515}
.highlight-player.active span{font-weight: bold}
.highlight-player.active .nick{text-decoration: underline}

.match .players{background: #415370; margin: -8px -8px -8px -8px; padding: 8px}
.match:hover .players, .match.active .players{background: #E2CA9F}


.countdown{display: inline-block;}
.countdown .hours, .countdown .minutes, .countdown .seconds{display: inline-block}

.datepicker{background: #fff url('/img/datepicker.png') no-repeat 98% center !important}
.timepicker{background: #fff url('/img/timepicker.png') no-repeat 98% center !important}

.grid .col-1-3 input, .grid .col-1-3 textarea, .grid .col-1-3 select{width: 100%}
.grid label{display: block; padding: 4px 0; color: #252b36; font-size: 17px}

.favorite-games{position: fixed; z-index: 101; left: 100%; margin-left: -48px; top: 310px; background: #262d38; color: #fff; font-size: 15px; cursor: pointer; white-space: nowrap; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);width:100%}
.favorite-games, .favorite-games *, .favorite-games a{text-decoration: none; color: #fff}
.favorite-games:hover, .favorite-games.hover{margin-left: -245px; color: #fff; text-decoration: none}
.favorite-icon{background: #fff; display: inline-block; vertical-align: middle; padding: 10px}
.favorite-icon::before{width: 30px; height: 32px; display: block; position: relative; background: url('/img/sprite.png'); background-repeat: no-repeat; background-position: -32px -72px; content: ""}
.favorite-games:hover .favorite-icon, .favorite-games.hover .favorite-icon{background: #f9b233;}
.favorite-games:hover .favorite-icon::before, .favorite-games.hover .favorite-icon::before{background-position: -64px -72px;}
.popup{position: fixed; z-index: 1000; top: 0; right: 0; bottom: 0; left: 0; background: #262d38; display: none; padding: 64px}

.dropdown{display: block; position: relative; margin: 16px; cursor: pointer}
.dropdown-header{display: block; background: #262d38; position:relative; z-index: 1; color: #fff; font-size: 18px; padding: 16px; padding-right: 60px}
.dropdown-header::before, .dropdown-header::after{display: inline-block; position: absolute; top: 0; bottom: 0; left: -8px; width: 40px; background: #262d38; content: " ";
transform: skewX(-20deg);
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
 z-index: -1;}
.dropdown-header::after{left: auto; right: -10px}
.dropdown-header .arrow{position: absolute; right: 0; top: 0; width: 35px; height: 100%;}
.dropdown-header .arrow::before, .dropdown-header .arrow::after{display: inline-block; position: absolute; top: 0; bottom: 0; margin-left: -12px; width: 40px; background: #f9b233; content: " ";
transform: skewX(-20deg);
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
 z-index: 0;}
.dropdown-header .arrow::after{margin-left: 0; right: -10px}
.dropdown-header .fa{position: absolute; z-index: 2; top: 50%; margin-top: -9px; margin-left: 8px}
.dropdown-content{padding: 28px; margin-left: -16px; background: #fff; -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);}
.dropdown.active .dropdown-content{display: block;}
.dropdown.active .arrow .fa::before{content:"\f077"}
.dropdown.active .dropdown-header .arrow::before, .dropdown.active .dropdown-header .arrow::after{background: #262d38}
.dropdown.active .dropdown-header::before, .dropdown.active .dropdown-header::after, .dropdown.active .dropdown-header{background: #f9b233}

/* pagination */
ul.pagination{margin: 16px 0; display: block; list-style: none}
ul.pagination li{display: inline-block;}
ul.pagination a{text-decoration: none; padding: 4px;}
ul.pagination a.active, ul.pagination li.active a, ul.pagination a:hover{text-decoration: underline}

.calendary-header{text-align:center;background:#262d38;color:#fff;border:1px solid #262d38;}
.window-header a:hover, .window-header a:active{color:#fff;}
a.calendary-link{color:#262d38;text-decoration:none;}
a.calendary-link:hover, a.calendary-link:active{color:#000;text-decoration:underline;}
a.calendary-link-active{color:#000;text-decoration:underline;}
a.calendary-link-active:hover, a.calendary-link-active:active{color:#262d38;text-decoration:underline;}
.calendary-matchs-0{background-color:#fff;/*#f2c9c9;*/}
.calendary-matchs-1{background-color:#f9b233/*#dcf2c9;*/}
.window-header .fa{font-size: 20px;}

.clickable-row{cursor:pointer;background-color:#fff;}
.clickable-row:hover{background-color:rgba(38,45,56,0.8);color:#fff;}

#cookies {
	position:fixed;
	z-index:4;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	background:#252c37;
	color:#fff;
	-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.5);
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.5);
	padding:8px 8px
}
#cookies a {
	color:#fff
}
#cookies .button {
	display: inline-block;
	padding:8px;
	font-size:16px;
	color:#fff;
	margin-left: 32px;
}
#cookies button:hover::before, #cookies .button:hover::before, #cookies button:hover::after, #cookies .button:hover::after, #cookies .button:hover {
	background: #f9b233;
}

.message-box{  
  background-color:#f9b233;/*#262d38;*/
  font-weight:bold;
  font-size: 18px;
  }
.message-box .wrap{text-align:center;}
.message-box-normal{color:#262d38;}
.message-box-red{color:#880000;}
.message-box-green{color:#008800;}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
.hp .bx-wrapper{position: absolute; top: -142px}
.carousel-wrap{margin: 0;padding-bottom: 200px; margin-left: -8px;}
.carousel-wrap li a{display: table-cell !important; width: 235px !important; height: 130px; vertical-align: middle; text-align: center !important}
.partners-carousel-wrap{margin: 0}
.partners-carousel-wrap li a{display: table-cell !important; width: 235px !important; height: 1305px; vertical-align: middle; text-align: center !important}
.bx-wrapper {
	position: relative;
	margin: 0 auto;
	display: block;
	margin-top: 20px !important; margin-bottom: 40px !important; 
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.bx-wrapper .bx-viewport li{width: 235px !important}
.bx-wrapper .bx-viewport li img{margin: 0 auto; -webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;transition: all 1s;
	transform: scale(1.2), skew(20deg);
    -webkit-transform: scale(1.2) skew(20deg);
    -moz-transform: scale(1.2) skew(20deg);
    -o-transform: scale(1.2) skew(20deg);
    -ms-transform: scale(1.2) skew(20deg);
}
.bx-wrapper .bx-viewport {
	border:  none;
	left: 0px;
	padding-left: 32px;
	background: none;
	transform: translatez(0) skewX(-20deg);
	-webkit-transform: translatez(0) skewX(-20deg);
	-moz-transform: translatez(0) skewX(-20deg);
	-ms-transform: translatez(0) skewX(-20deg);
	-o-transform: translatez(0) skewX(-20deg);
}
.bx-wrapper .bx-viewport li a{position: relative; text-align: center; display: block; width: 100%; color: #fff; overflow: hidden; border: 2px solid transparent}
.bx-wrapper .bx-viewport li a:hover{color: #f9b233; border: 2px solid #f9b233}
.bx-wrapper .bx-viewport li a:hover img{
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);
    transform: scale(1.3) skew(20deg);
    -webkit-transform: scale(1.3) skew(20deg);
    -moz-transform: scale(1.3) skew(20deg);
    -o-transform: scale(1.3) skew(20deg);
    -ms-transform: scale(1.3) skew(20deg);
}
.bx-wrapper li span{position: absolute; bottom: 0; left: -20px; right: -20px; background: #262d38; background: rgba(38,45,56,0.84); font-size: 18px; padding: 12px 26px; 
transform: skewX(20deg);
-webkit-transform: skewX(20deg);
-moz-transform: skewX(20deg);
-o-transform: skewX(20deg);
-ms-transform: skewX(20deg);}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url('/img/swipebox/loader.gif') center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	margin: 0px;
	top: 2px;
	bottom: 2px;
	left: -44px;
	outline: 0;
	width: 42px;
	z-index: 9999;
	background: #f9b233;
	color: #d79a2d;
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
}
.bx-wrapper .bx-controls-direction a:hover{color: #fff}
.bx-wrapper .bx-controls-direction .bx-next{
	left: auto; right: -44px;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-prev:before, .bx-wrapper .bx-next:before{
	display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
	font-size: 1.5em;
	content:"\f053";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	margin-top: -12px;
	transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	-moz-transform: skewX(20deg);
	-o-transform: skewX(20deg);
	-ms-transform: skewX(20deg);
}
.bx-wrapper .bx-next:before{
	content:"\f054";
}
}
