@charset "UTF-8";
@page {
  size: portrait;
  margin: .5cm;
}

* {
  border-color: #000 !important;
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

html {
  font-size: 9.75pt;
  color: #000 !important;
}

body {
  margin: 0;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h1,
h2,
h3 {
  page-break-after: avoid;
}

pre,
blockquote {
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

abbr,
acronym {
  border-bottom-width: thin;
}

img {
  max-width: 100% !important;
}

hr {
  background-color: transparent;
  background-image: none;
  filter: none;
  zoom: normal;
  border-width: thin;
}

hr:before {
  display: none;
}

table[border] {
  border-width: thin;
}

table[border] td,
table[border] th {
  border-width: thin;
}

table[border=""],
table[border="0"] {
  border-width: 0;
}

table[border=""] td,
table[border="0"] td,
table[border=""] th,
table[border="0"] th {
  border-width: 0;
}

table {
  page-break-inside: avoid;
}

a {
  text-decoration: none;
}

.page-main {
  margin: 0px !important;
  padding: 0 !important;
  color: #000 !important;
}

.wrap {
  color: #000 !important;
}

.popup,
.no-print,
.page-head,
.page-foot,
form,
button,
.button {
  display: none !important;
}

.bx-wrapper,
.carousel-wrap {
  display: none;
}

.step-by-step {
  display: none;
}

.news-preview {
  display: none !important;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li::after {
  display: inline-block;
  content: ">";
  padding-left: 4px;
}

.breadcrumb li:last-child::after {
  display: none;
}

.dropdown-header {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.dropdown-header .arrow {
  display: none;
}

.dropdown-content {
  margin-bottom: 32px;
  display: block !important;
}

.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: inline-block;
}

.window {
  width: 100%;
  padding: 16px;
  margin: 16px 0;
  display: block;
  border: 1px solid #000;
}

.window-content .user-avatar-32,
.window-content .user-name {
  display: inline-block;
}

.window-content .text-circle-32 {
  display: inline-block;
}
