html {
	min-height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
}
img{
  border: none;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	filter: inherit;
}
td,
th {
	padding: 0.45em;
	font-weight: 400;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="submit"],
button,
select,
textarea {
	padding: 2px 4px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
}
/* ------------------------------------------------ */
.center{
  text-align:center;
  }
.right{
  text-align:right;
  }
.width-40{
  width:40px;
  }
.width-50{
  width:50px;
  }
.width-72{
  width:72px;
  }
.width-110{
  width:110px;
  }
.width-120{
  width:120px;
  }
.width-130{
  width:130px;
  }
.width-140{
  width:140px;
  }
.width-170{
  width:170px;
  }
.width-190{
  width:190px;
  }
.width-192{
  width:192px;
  }
.width-200{
  width:200px;
  }
.width-202{
  width:202px;
  }  
.width-230{
  width:230px;
  }
.width-242{
  width:242px;
  }
.width-285{
  width:285px;
  }
.width-350{
  width:350px;
  }
.width-400{
  width:400px;
  }
.width-600{
  width:600px;
  }
.width-740{
  width:740px;
  }
/* ------------------------------------------------ */
.BackendBody {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	min-width: 1130px;
	min-height: 100%;
	background-color: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top,rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(192,192,192,1) 100%);
	background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(192,192,192,1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(192,192,192,1) 100%);
	background: -o-linear-gradient(top,rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(192,192,192,1) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(192,192,192,1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(192,192,192,1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#c0c0c0',GradientType=0 );
}
.BackendBody a {
	text-decoration: none;
	color: #006AAE;
}
.BackendBody a:hover {
	color: #0a97d1;
}
.BackendWrap {
	margin: auto;
	text-align: justify;
	width: 1100px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #DDD;
	padding: 0px;
	border: 1px solid #BBB;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
  -webkit-box-shadow: 0px 0px 3px 3px rgba(50,50,50,0.5);
  -moz-box-shadow: 0px 0px 3px 3px rgba(50,50,50,0.5);
  box-shadow: 0px 0px 3px 3px rgba(50,50,50,0.5);
	background-image: url("/img/backend-menu-background.png");
	background-repeat: repeat;
}
.BackendBody h1 {
	color: #006AAE;
	margin-top: 5px;
	padding-top: 0px;
	margin-bottom: 5px;
	font-size: 14pt;
  width: 600px;
}
.BackendBody h2 {
	color: #006AAE;
	margin-top: 5px;
	padding-top: 0px;
	margin-bottom: 5px;
	font-size: 12pt;
}
.BackendBack {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
}
.BackendContentMargin {
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}
.BackendHeader {
	border-bottom: 1px solid #BBB;
	padding: 8px 5px 10px 5px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.BackendUser {
	overflow: hidden;
	margin-top: 15px;
}
.BackendUserMargin {
	width: 315px;
	display: table-cell;
	vertical-align: middle;
}
.BackendUser table {
	width: 245px;
}
.BackendUser table td {
	text-align: right;
	font-size: 8pt;
}
.BackendUser table th {
	text-align: left;
	font-size: 8pt;
}
.BackendMenuIcons {
	font-size: 35px;
}
.BackendContent {
	height: auto;
	position: relative;
}
.BackendContentLeft {
	position: relative;
	float: left;
	width: 275px;
	overflow: hidden;
	text-align: left;
	padding: 0px 5px 15px 5px;
	margin-top: 0;
}
.BackendContentRight {
	position: relative;
	float: right;
	width: 800px;
	overflow: hidden;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 500px;
	margin-right: 15px;
	margin-bottom: 15px;
	background: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.BackendContentRight table {
	width: 100%;
	border: 1px solid #CCC;
}
.BackendFooter {
	text-align: center;
	border-top: 1px solid #CCC;
	padding: 10px;
  margin: 15px;
  background: #eee;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.BackendLoginPreWrap {
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}
.BackendLoginWrap {
	margin: auto;
	text-align: justify;
	width: 600px;
	background-color: #ddd;
  background-image: url("/img/backend-menu-background.png");
  background-repeat: repeat;    
	padding: 0px;
	border: 1px solid #BBB;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(50,50,50,0.5);
  -moz-box-shadow: 0px 0px 3px 3px rgba(50,50,50,0.5);
  box-shadow: 0px 0px 3px 3px rgba(50,50,50,0.5);
}
.BackendLoginSpace {
	height: 100px;
}
#BackendLoginForm {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#BackendLoginForm h1 {
	margin-top: 5px;
}
#BackendLoginForm input {
  background-color: #fff;
  border: 2px solid #006aae;
  color: #006aae;
  font-weight: bold;
  margin: 3px;
	font-size: 14px;
}
#BackendLoginForm input[type=submit] {
 /* height: 56px;  
  width: 100px; */
}
#BackendLoginForm input:hover {
	color: #0a97d1;
	border: 2px solid #0a97d1;
}
#BackendLoginForm input:active {
	color: #0a97d1;
	border: 2px solid #0a97d1;
}
#BackendLoginForm input[type=submit]:hover {
	cursor: pointer;
}
.BackendContent input[type=submit], .BackendContent input[type=reset], .BackendContent button[type=submit] {
	color: #006AAE;
	background-color: #FFF;
	border: 2px solid #006AAE;
	margin: 3px;
	font-weight: bold;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.BackendContent input[type=submit]:active, .BackendContent input[type=reset]:active, .BackendContent button[type=submit]:active {
	color: #0a97d1;
	border: 2px solid #0a97d1;
}
.BackendContent input[type=submit]:hover, .BackendContent input[type=reset]:hover, .BackendContent button[type=submit]:hover {
	color: #0a97d1;
	cursor: pointer;
	border: 2px solid #0a97d1;
	-webkit-box-shadow: 0 0 1px 1px rgba(0,105,171,0.6);
box-shadow: 0 0 1px 1px rgba(0,105,171,0.6);
}
.LoginTable {	
	margin: 10px 0px;  
}
.LoginTable td, .LoginTable th {
	padding: 5px;
}
.LoginTable2 {
  width: 325px;
  border-spacing: 0px;
  }
.LoginTable2 td, .LoginTable2 th {
	padding: 0px;
}
.LoginTable2 th {
	font-weight:bold;
  color: #006aae;
}
th {
	text-align: left;
}
.noMargin {
	margin: 0px;
}
.SpecialPadding {
	padding: 0px !importnat;
	margin-right: 20px;
}
.ClearBoth {
	clear: both;
}
.BackendWrap p {
	text-align: justify;
}
ul.topMenu {
	margin: 3px 7px 10px 7px;
	padding: 0px;
}
ul.topMenu li {
	position: relative;
	float: left;
	margin: 3px;
	list-style-type: none;
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #AAA;
	border: 1px solid #999;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 10px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
ul.topMenu li a {
	display: table-cell;
	text-align: center;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	overflow: hidden;
  font-weight: bold;
}
ul.topMenu li:hover, ul.topMenu li.active:hover {
	background-color: #DDD;
}
ul.topMenu li.active {
	background-color: #CCC;
}
ul.topMenu li.logo img {
	margin-bottom: 7px;
	border: none;
}
ul.topMenu li.logo, ul.topMenu li.logo a {
	width: 207px;
}
ul.BackendLeftMenu {
	margin: 0px;
	padding: 0px;
}
ul.BackendLeftMenu li {
	margin-bottom: 5px;
	list-style-type: none;
	text-align: left;
	background-color: #AAA;
	border: 1px solid #999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
ul.BackendLeftMenu li a {
	padding: 10px;
	display: table-cell;
	text-align: left;
	width: 250px;
	font-weight: bold;
	vertical-align: middle;
}
ul.BackendLeftMenu li a:hover, ul.BackendLeftMenu li.active:hover {
	background-color: #DDD;
}
ul.BackendLeftMenu li.active {
	background-color: #CCC;
}
ul.BackendLeftMenu .icon {
	width: 15px;
	display: inline-block;
  font-size: 17px;
	margin-right: 7px;
}
ul.BackendLeftMenu li ul li{
	margin-right: 5px;
}
.bluetext {
	color: #006aae;
}
.BackendContent table {
	border: 1px solid black;
	border-bottom: none;
	border-spacing: 0px;
	border-collapse: separate;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.BackendContent table th {
	background-color: #0a97d1;
	border-bottom: 1px solid black;
	vertical-align: top;
	font-weight: bold;
  background: rgb(10,151,209); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(10,151,209) 0%, rgb(68,158,226) 15%, rgb(68,158,226) 85%, rgb(10,151,209) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(10,151,209)), color-stop(15%,rgb(68,158,226)), color-stop(85%,rgb(68,158,226)), color-stop(100%,rgb(10,151,209))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(10,151,209) 0%,rgb(68,158,226) 15%,rgb(68,158,226) 85%,rgb(10,151,209) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(10,151,209) 0%,rgb(68,158,226) 15%,rgb(68,158,226) 85%,rgb(10,151,209) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(10,151,209) 0%,rgb(68,158,226) 15%,rgb(68,158,226) 85%,rgb(10,151,209) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(10,151,209) 0%,rgb(68,158,226) 15%,rgb(68,158,226) 85%,rgb(10,151,209) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a97d1', endColorstr='#0a97d1',GradientType=0 ); /* IE6-9 */
}
.BackendContent table th a {
	color: #AAA;
}
.BackendContent table th a:hover {
	color: #DDD;
}
.BackendContent table th a:active {
	color: #DDD;
}
.BackendContent table th a.activeLink {
	color: #DDD;
}
.BackendContent table th a.activeLink:hover {
	color: white;
}
.BackendContent table th a.activeLink:active {
	color: white;
}
.BackendContent table td a.activeLink {
	color: black;
}
.BackendContent table td a.activeLink:hover {
	color: #BBB;
}
.BackendContent table td a.activeLink:active {
	color: #BBB;
}
.BackendContent table td {
	border-bottom: 1px solid black;
}
.BackendContent table .fa {
	font-size: 14pt;
}
.BackendContent table td a.PageAnchors {
	margin-left: 15px;
	margin-right: 15px;
}
.BackendContent table tr.BackendCenter {
	text-align: center;
}
.BackendContent .BackendCenter {
	text-align: center;
}
.BackendContent table.invisible {
	border: none;
	background-color: none;
}
.BackendHelp {
	width: 100%;
	border: 1px solid black;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.BackendHelpHeader {
	text-align: center;
	padding: 8px;
	font-weight: bold;
}
.BackendHelpBody {
	padding: 5px;
	display: none;
	border-top: 1px solid black;
}
.BackendHelp a {
	color: white;
	cursor: pointer;
	background-color: #0a97d1;
}
.BackendHelp a:hover {
	color: #fff;
	background-color: #006aae;
}
.BackendHelp a .BackendHelpHeader {
	background-color: #006aae;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(10, 151, 209) 0%, rgb(68, 158, 226) 15%, rgb(68, 158, 226) 85%, rgb(10, 151, 209) 100%) repeat scroll 0 0;
}
.BackendHelp a:hover .BackendHelpHeader {	
  background: none;
  background-color: #0a97d1;
}
.BackendContentRight ol.sortable ol{
  list-style:none;  
  padding-left:20px;
  }
.BackendContentRight ol.sortable{
  list-style:none;
  padding-left:0px;
  }
.BackendContentRight ol.sortable ol li{
  list-style:none;  
  cursor: move;
  }
.BackendContentRight ol.sortable li{
  margin-top:3px;  
  cursor: move;
  }
.BackendContentRight ol.sortable ol li table td{
  list-style:none;  
  background-color:#ccc;
  }
.BackendContentRight ol.sortable li table td{
  margin-top:3px;
  background-color:#ccc;
  }
li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
	background: #fafafa;
}
.placeholder {
  background-color:#ddd;
	outline: 1px solid #0a97d1;
  height: 33px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
.no-efect-button{
  border: none !important;
  background-color: initial !important;
  padding:0;
  margin:0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  box-shadow: none;
  }
.no-efect-button:hover{
  border: none !important;
  background-color: initial !important;
  padding:0 !important;
  margin:0;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 105, 171, 0.6) !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 105, 171, 0.6) !important;
  }
.nicEdit-main p{
  text-align: auto;
} 
.BackendHelp label{display:inline-block;width:185px;height:110px;overflow:hidden;margin-left:2px;cursor:pointer;text-align:center;}
.BackendHelp label:hover{background-color:white;}
.float-left{float:left;}
.float-right{float:right;}
.float-none{float:none;}
.right-image,.image-right{float:right;margin:10px;}
.left-image,.image-left{float:left;margin:10px;}