@charset "UTF-8";
@media (max-width: 1400px) {
	nav ul{table-layout: auto;}
}
@media (max-width: 1120px) {
	.page-left, .page-right{bottom: 60px}
	.page-foot{background: #000000;background: -moz-linear-gradient(top, #000000 0%, #3b3b3b 100%);background: -webkit-linear-gradient(top, #000000 0%,#3b3b3b 100%);background: linear-gradient(to bottom, #000000 0%,#3b3b3b 100%); z-index: 2; height: 60px; padding: 2px}
	.page-foot .col{display: block; width: 100%; text-align: center; height: auto}
	.page-foot .col br{display: none}
}
@media (min-width: 970px) {
	nav li:first-child{width: 205px;}
	nav li:last-child{width: 160px;}
	nav li:first-child a{text-align: left}
}
@media (max-width: 970px) {
	.page-head{z-index: 4; height: 59px}
	.nav-mobile{display: none}
	.nav-mobile, .left-mobile{cursor: pointer; display: block; position: fixed; overflow: hidden; left: 50%; margin-left: -22px; top: 10px; height: 44px; min-height: 44px; min-width: 44px; background: #282828;-webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);-moz-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);}
	.left-mobile{display: none}
	.left-mobile{margin-left: -74px;}
	.nav-mobile:before, .left-mobile:before{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:"\f0c9"; font-size: 34px; margin-left: 8px; margin-top: 5px; vertical-align:middle;}	
	.left-mobile:before{content:"\f036"}
	.page-head nav > ul{text-align: center; display: block;}
	nav ul{display: block; padding: 0; margin: 0; background: #none;}
	nav ul li{display: block; padding: 0; margin: 0;}
	.page-head nav{display: block; background: none !important; z-index: 99999;  padding: 0; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s;}
	.nav-mobile + nav{display: none}
	.page-head .nav-mobile-content{display: none; width: 100%; position: fixed; left: 0; margin-top: 40px; padding: 10px; padding-top: 20px; visibility: hidden; opacity: 0; background: #222; -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);-moz-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;}
	.page-head .left-mobile-content{display: none; width: 100%; position: fixed; left: 0; margin-top: 40px; padding: 10px; visibility: hidden; opacity: 0; background: #222; -webkit-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);-moz-box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.7);-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;}
	.nav-mobile.active + .nav-mobile-content, .left-mobile.active + .left-mobile-content{display: block; visibility: visible; opacity: 1}
	nav a, ul.menu a, nav a.inline{padding: 8px 10px;font-size: 16px;}
	.col-1-1, .col-3-3{width:100% !important}
  .grid-form .col{width: 50%}	
}
@media (max-width: 760px) {
	.grid-form .col{width: 100%}
}
@media (max-width: 600px) {
	.page-left, .page-right{bottom: 100px}
	.page-foot{height: 100px}
	.page-foot:after{bottom: 100px}
	.page-left, .page-right{display: none}
	.left-mobile{display: block}
	.page-main{padding-left: 0 !important; padding-right: 0 !important}
}
@media (max-width: 430px) {
	body, html{min-width: 400px !important; width: 100%}
}