.kernel_info_box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #CCC;
  border: 1px solid #AAA;
  padding: 5px;
  font-size: 8pt;
  z-index: 9999;
  color: black;
}

.kernel_info_box th {
  text-align: left;
  padding: 0;
}

.kernel_info_box td {
  text-align: right;
  padding: 0;
}

.kernel_info_box_2 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #CCC;
  border: 1px solid #AAA;
  padding: 5px;
  font-size: 8pt;
  z-index: 9998;
  color: black;
}

.kernel_info_box_2 th {
  text-align: left;
  padding: 0;
}

.kernel_info_box_2 td {
  text-align: left;
  padding: 0;
}

.kernel_templates {
  background-color: #CCC;
  border: 1px solid #AAA;
  padding: 5px;
  font-size: 8pt;
  z-index: 9997;
  width: auto;
  color: black;
}

.kernel_templates a {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}

.kernel_templates a:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
